Importing necessary libraries and loading the dataset

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('salaries (2).csv')

Cleaning and preprocessing while gaining important summary statistics about the data

In [4]:
data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,SE,FT,AI Engineer,202730,USD,202730,US,0,US,M
1,2024,SE,FT,AI Engineer,92118,USD,92118,US,0,US,M
2,2024,SE,FT,Data Engineer,130500,USD,130500,US,0,US,M
3,2024,SE,FT,Data Engineer,96000,USD,96000,US,0,US,M
4,2024,SE,FT,Machine Learning Engineer,190000,USD,190000,US,0,US,M

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16534 entries, 0 to 16533
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           16534 non-null  int64
 1   experience_level    16534 non-null  object
 2   employment_type     16534 non-null  object
 3   job_title           16534 non-null  object
 4   salary              16534 non-null  int64
 5   salary_currency     16534 non-null  object
 6   salary_in_usd       16534 non-null  int64
 7   employee_residence  16534 non-null  object
 8   remote_ratio        16534 non-null  int64
 9   company_location    16534 non-null  object
 10  company_size        16534 non-null  object
dtypes: int64(4), object(7)
memory usage: 1.4+ MB

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
work_year,16534.0,2023.226866,0.713558,2020.0,2023.0,2023.0,2024.0,2024.0
salary,16534.0,163726.962683,340205.744183,14000.0,101763.0,142200.0,187200.0,30400000.0
salary_in_usd,16534.0,149686.777973,68505.293156,15000.0,101125.0,141300.0,185900.0,800000.0
remote_ratio,16534.0,32.003750,46.245158,0.0,0.0,0.0,100.0,100.0

In [7]:
data.isna().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [8]:
data.shape

(16534, 11)

In [9]:
#removing duplicate rows
duplicate_rows_data = data[data.duplicated()]
print("number of duplicate rows: ", duplicate_rows_data.shape)

number of duplicate rows:  (6421, 11)

In [10]:
data.drop_duplicates(inplace=True)

In [11]:
#the shape of the dataset after dropping the duplicates
data.shape

(10113, 11)

In [12]:
# Dropping unnecessary columns
data.drop(['salary','salary_currency'], axis = 1, inplace = True)

In [13]:
data.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,SE,FT,AI Engineer,202730,US,0,US,M
1,2024,SE,FT,AI Engineer,92118,US,0,US,M
2,2024,SE,FT,Data Engineer,130500,US,0,US,M
3,2024,SE,FT,Data Engineer,96000,US,0,US,M
4,2024,SE,FT,Machine Learning Engineer,190000,US,0,US,M

Label Encoding the categorical value columns to use in prediction and classification

In [15]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
data['experience_level_encode'] = label_encoder.fit_transform(data['experience_level'])
data['employment_type_encode'] = label_encoder.fit_transform(data['employment_type'])
data['job_title_encode'] = label_encoder.fit_transform(data['job_title'])
data['employee_residence_encode'] = label_encoder.fit_transform(data['employee_residence'])
data['company_location_encode'] = label_encoder.fit_transform(data['company_location'])
data['company_size_encode'] = label_encoder.fit_transform(data['company_size'])

In [16]:
data.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,experience_level_encode,employment_type_encode,job_title_encode,employee_residence_encode,company_location_encode,company_size_encode
0,2024,SE,FT,AI Engineer,202730,US,0,US,M,3,2,2,84,74,1
1,2024,SE,FT,AI Engineer,92118,US,0,US,M,3,2,2,84,74,1
2,2024,SE,FT,Data Engineer,130500,US,0,US,M,3,2,57,84,74,1
3,2024,SE,FT,Data Engineer,96000,US,0,US,M,3,2,57,84,74,1
4,2024,SE,FT,Machine Learning Engineer,190000,US,0,US,M,3,2,120,84,74,1

**Prediction Algorithms**

Linear Regression

In [74]:
# Choosing the target variable and features
x = data[['experience_level_encode','job_title_encode','employee_residence_encode','company_size_encode']]
y = data['salary_in_usd']

In [75]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3 ,random_state=125)
print('Number of rows in the total set: {}'.format(data.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 10113
Number of rows in the training set: 7079
Number of rows in the test set: 3034

In [76]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

regressor_model = LinearRegression()
regressor_model.fit(x, y)
y_pred1 = regressor_model.predict(X_test)

# Calculate Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred1)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred1)

# Calculate Root Mean Squared Error
rmse = mean_squared_error(y_test, y_pred1, squared=False)

# Calculate R-squared
r2 = r2_score(y_test, y_pred1)

# Print the results
print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RMSE: {rmse}')
print(f'R-squared: {r2}')

MAE: 49320.46047200038
MSE: 4361032548.497553
RMSE: 66038.11436206786
R-squared: 0.16849488509591148

C:\Users\omarm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [77]:
# Convert the y_test Series to a NumPy array
y_test_array = y_test.to_numpy()

# Reshape the NumPy array
y_test_array = y_test_array.reshape(1, 3034)

# Reshape the y_pred array as well
y_pred = y_pred1.reshape(1, 3034)

# Flatten the arrays
y_test_array = y_test_array.flatten()
y_pred = y_pred.flatten()

# Create a DataFrame for comparison
df = pd.DataFrame({'Actual': y_test_array, 'Predicted': y_pred})

# Print the DataFrame
print(df)

      Actual      Predicted
0     159300  191072.355594
1     178538  146337.208960
2     175000  159069.519925
3     102000   99901.987544
4     153200  160101.869462
...      ...            ...
3029  160100  159069.519925
3030  275000   87650.837898
3031   18160   87320.401975
3032   82920  152652.847617
3033  260000  126907.500709

[3034 rows x 2 columns]

In [78]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test_array,y_pred)
print(f'Accuracy percent: {r2 *100} %')

Accuracy percent: 16.849488509591147 %

K-nearest neighbour regressor

In [79]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

knn = KNeighborsRegressor()
knn.fit(x, y)
y_pred2 = knn.predict(X_test)

# Calculate Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred2)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred2)

# Calculate Root Mean Squared Error
rmse = mean_squared_error(y_test, y_pred2, squared=False)

# Calculate R-squared
r2 = r2_score(y_test,y_pred2)

# Print the results
print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RMSE: {rmse}')
print(f'R-squared: {r2} ')

MAE: 47082.669281476585
MSE: 4252805847.0358996
RMSE: 65213.54036575456
R-squared: 0.1891301486106416

C:\Users\omarm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [80]:
# Convert the y_test Series to a NumPy array
y_test_array = y_test.to_numpy()

# Reshape the NumPy array
y_test_array = y_test_array.reshape(1, 3034)

# Reshape the y_pred array as well
y_pred = y_pred1.reshape(1, 3034)

# Flatten the arrays
y_test_array = y_test_array.flatten()
y_pred = y_pred.flatten()

# Create a DataFrame for comparison
df = pd.DataFrame({'Actual': y_test_array, 'Predicted': y_pred})

# Print the DataFrame
print(df)

      Actual      Predicted
0     159300  191072.355594
1     178538  146337.208960
2     175000  159069.519925
3     102000   99901.987544
4     153200  160101.869462
...      ...            ...
3029  160100  159069.519925
3030  275000   87650.837898
3031   18160   87320.401975
3032   82920  152652.847617
3033  260000  126907.500709

[3034 rows x 2 columns]

In [81]:
r2 = r2_score(y_test_array,y_pred2)
print(f'Accuracy percent: {r2*100} %')

Accuracy percent: 18.91301486106416 %

Decision Tree regressor

In [82]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

dtc = DecisionTreeRegressor()
dtc.fit(x, y)
pred = dtc.predict(X_test)

# Calculate Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred)

# Calculate Root Mean Squared Error
rmse = mean_squared_error(y_test, y_pred, squared=False)

# Calculate R-squared
r2 = r2_score(y_test, pred)

# Print the results
print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'RMSE: {rmse}')
print(f'R-squared: {r2}')

MAE: 49320.46047200038
MSE: 4361032548.497553
RMSE: 66038.11436206786
R-squared: 0.43902390328459384

C:\Users\omarm\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [84]:
# Convert the y_test Series to a NumPy array
y_test_array = y_test.to_numpy()

# Reshape the NumPy array
y_test_array = y_test_array.reshape(1, 3034)

# Reshape the y_pred array as well
y_pred = y_pred1.reshape(1, 3034)

# Flatten the arrays
y_test_array = y_test_array.flatten()
y_pred = y_pred.flatten()

# Create a DataFrame for comparison
df = pd.DataFrame({'Actual': y_test_array, 'Predicted': y_pred})

# Print the DataFrame
print(df)

      Actual      Predicted
0     159300  191072.355594
1     178538  146337.208960
2     175000  159069.519925
3     102000   99901.987544
4     153200  160101.869462
...      ...            ...
3029  160100  159069.519925
3030  275000   87650.837898
3031   18160   87320.401975
3032   82920  152652.847617
3033  260000  126907.500709

[3034 rows x 2 columns]

In [85]:
r2 = r2_score(y_test_array,pred)
print(f'Accuracy percent: {r2*100} %')

Accuracy percent: 43.90239032845938 %

**Classification Algorithms**

Naive Bayes Classification

In [86]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report
x = data[['job_title_encode','work_year','employee_residence_encode']]
y = data['company_size']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy*100}%')
print('Classification Report:')
print(report)

Accuracy: 92.51812788398153%
Classification Report:
              precision    recall  f1-score   support

           L       0.41      0.26      0.32       183
           M       0.95      0.99      0.97      2798
           S       0.25      0.04      0.07        53

    accuracy                           0.93      3034
   macro avg       0.54      0.43      0.45      3034
weighted avg       0.90      0.93      0.91      3034

Decision Tree Classification

In [88]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

x = data[['job_title_encode','work_year','employee_residence_encode']]
y = data['company_size']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy*100}%')
print('Classification Report:')
print(report)

Accuracy: 92.1555702043507%
Classification Report:
              precision    recall  f1-score   support

           L       0.44      0.25      0.31       183
           M       0.95      0.98      0.96      2798
           S       0.32      0.26      0.29        53

    accuracy                           0.92      3034
   macro avg       0.57      0.50      0.52      3034
weighted avg       0.91      0.92      0.91      3034

K-Nearest Neighbour Classification

In [89]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

x = data[['job_title_encode','work_year','employee_residence_encode']]
y = data['company_size']
scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

n_neighbors = 5
model = KNeighborsClassifier(n_neighbors=n_neighbors)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy*100}%')
print('Classification Report:')
print(report)

Accuracy: 91.33157547791694%
Classification Report:
              precision    recall  f1-score   support

           L       0.35      0.30      0.32       183
           M       0.94      0.97      0.96      2798
           S       0.60      0.06      0.10        53

    accuracy                           0.91      3034
   macro avg       0.63      0.44      0.46      3034
weighted avg       0.90      0.91      0.90      3034